[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
robotframework = "*"
robotframework-seleniumlibrary = "*"
robotframework-pabot = "*"
browserstack-local = "*"
configparser = "*"
selenium = "*"

[requires]
python_version = "3.7"
